.highlight {
    background-color: #80c0b5;
   }
   .navbar-style {
    background-color: #0c8351 !important;
   }
   .green-highlight {
    color: #313331;
    font-size: 40px;
   }
   .red-highlight {
    color: #a01907;
 font-size: 25px;
   }
.body{
  background-color: #8ac18a;
}
   
